# Compiled Python files
*.pyc
__pycache__/

# Dependencies
.venv/
venv/
pip-tools/

# Logs and temporary files
*.log
*.tmp
*.swp

# Environment variables
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/